@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body {
  background-color: #1d1e24;
  color: #fff;
}

a {
  text-decoration: none;
  margin: 20px
}

.App {
  font-family: 'Roboto', sans-serif;
}
.App a {
  color: #fff;
}

.botao{
  width: 50px;
  height: 50px;
  font: 10px;
  margin: 10px;
}
